<h1>Editor's Pick</h1>
<hr>

<% editor = 0.0 %>
<% editor_title = "" %>
<% editor_id = -1 %>

<% Title.read.each do |title| %>
<% sum = 0.0 %>
<% count = 0.0 %>

<% reviews = Review.where("book_title" => title.book_title) %>
  <% reviews.read.each do |review|%>
    <% sum = sum + review.star_rating.to_f %>
    <% count = count + 1 %>
    <% end %>

      <% if count>0 %>
        <% average=sum/count %>
          <% if average > editor %>
          <% editor = average %>
          <% editor_title = title.book_title %>
          <% editor_id = title.id %>
          <% end %>
        <% end %>

<% end %>
<% if editor_id == -1 %>
  There is no Editor's Pick
<% else %>
  The Editor's Pick is "<%= link_to editor_title, "/books/#{editor_id}" %>"!
<% end %>
